@font-face {
    font-family: "Inter";
    src: url("../fonts/static/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/static/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/static/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
.container {
    display: flex;
    justify-content: center;    /* centre horizontalement */
    align-items: center;        /* centre verticalement */
    flex-direction: row;        /* en colonne */
    height: 100vh;              /* occupe la hauteur de la fenêtre */
    background:  hsl(0, 0%, 8%);
    margin: 0;
    width: 100%;
    
}
.contenue {
    background-color: hsl(0, 0%, 12%);
    max-width: 375px;
    border-radius: 15px;
    border: 1px solid hsl(0, 0%, 8%);
    text-align: center;    
}
.entete {
    text-align: center;
}
.entete img {
   
    width: 25%;    
    border-radius: 100%;
}
.titre {
    font-family: "Inter", sans-serif;
    font-size: 25px;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 0px;   
}
.place{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 30px;    
}
p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}
.vertical_box {
    padding: 10px 0 5px 0;    
    font-weight: 400;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    width:375px;  
}

.btn  {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding: 15px;
    background-color: hsl(0, 0%, 20%); /* gris */
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    width: 80%;
}
.btn:hover {
    background-color: hsl(75, 94%, 57%); /* vert */
    color: hsl(0, 0%, 0%);
}